<%- include("partials/header.ejs") %>

<div class="container my-5">
    <p class="fs-5">
        Welcome to Vardan's Blog! This is all about sharing stories and ideas with the world. Whether you're a seasoned writer or just starting out, my platform is here to support you.
    </p>    
    <p class="fs-5">    
        I believe in making blogging easy and enjoyable. The user-friendly interface lets you create and share content effortlessly, while our diverse community ensures there's something for everyone.
    </p>    
    <p class="fs-5">            
        Join me in creating a vibrant community of writers and readers. Let's share our stories, learn from each other, and make meaningful connections along the way. Thanks for being a part of my blog!
    </p>
    <p class="fs-5">        
        This version of my blog provides a brief introduction to the platform's purpose and encourages users to engage with the community as I develop it.
    </p>
</div>





<%- include("partials/footer.ejs") %>